<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Api key:</strong>
    <%= user.api_key %>
  </p>

  <p>
    <strong>Secret key:</strong>
    <%= user.secret_key %>
  </p>

</div>
